# NetBeans specific #
*/nbproject/private/
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/nbactions.xml
*/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

test*/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/UserSystem/
/IEP1CA/src/jbiServiceUnits/
/datafeed/
/IEPCA/src/jbiServiceUnits/